.TaskContianer {
  display: flex;
  padding: 20px;
  font-size: 22px;
  min-height: 5vh;
  margin-top: 20px;
  border-radius: 5px;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(23, 20, 20, 0.828);
}
.Value {
  flex: 4 0 60%;
}
.Function {
  flex: 1 2 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Function input {
  width: 20px;
  height: 20px;
}
.Function button {
  width: 70px;
  height: 35px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: ease-in 0.2s;
  background-color: rgb(230, 226, 240);
}
.Function button:hover {
  cursor: pointer;
  background-color: rgb(196, 192, 206);
}
.ModalClass {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .Function button {
    width: 50px;
    height: 30px;
    font-size:14px;
  }
  .Function {
    flex: 1 2 60%;
  }
}
