.Container {
  width: 100%;
  display: flex;
  color: whitesmoke;
  align-items: center;
  justify-content: center;
}
.FormContainer {
  display: flex;
  min-width: 30vw;
  min-height: 50vh;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  background: rgb(20, 33, 116);
}
.FormContainer > * {
  width: 90%;
  margin: 10px auto;
}
form label {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}
form input {
  width: 95%;
  height: 25px;
  outline: none;
  font-size: 14px;
  margin-bottom: 30px;
}
.Button {
  width: 35%;
  font-size: 16px;
  padding: 5px 10px;
}
.Button:hover {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .FormContainer {
    min-width: 78vw;
    min-height: 40vh;
  }
}
