.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AppContainer {
  width: 70%;
}
.Input {
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  background-color: rgba(23, 20, 20, 0.828);
}
.Task {
  width: 100%;
  height: 70vh;
}
